body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "TT Travels", serif;
  background-position: top;
  background-repeat: repeat-y;
  background-size: 100% auto;
  background: url("../img/fon4.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #1d4df5;
  color: #ffffff;
  font-size: 2.083vw;
  line-height: 2.5vw;
  font-weight: 400;
  overflow-x: hidden;
}

/* Главное */

h2 {
  position: relative;
  width: 69.792vw;
  margin-left: 1.55vw;
  margin-top: -6.2vw;
  font-size: 15.625vw;
  line-height: 15.625vw;
  font-family: "TT Travels Educational";
  font-weight: 400;
  text-transform: uppercase;
}

/* Заголовок на главном экране */
.indextextbackground {
  width: 122.865vw;
  margin-top: 6.1vw;
}

p {
  position: relative;
  width: 45vw;
  margin-left: 2.88vw;
  font-size: 1.667vw;
  line-height: 2.135vw;
  font-family: "TT Norms Pro Educational Expanded";
  font-weight: 400;
}

/* Шапка */

.logo {
  background: url("../img/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.logotop {
  position: absolute;
  margin: 1vw 0vw 0vw 2.604vw;
  width: 3.321vw;
  height: 2.677vw;
  z-index: 1;
}

.logobottom {
  position: relative;
  display: inline;
  margin: 3.02vw 2.08vw;
  width: 6.563vw;
  height: 5.324vw;
}

.footer {
  margin: 1vw 1vw;
  width: 26.51vw;
  font-size: 1.25vw;
  font-weight: 500;
  line-height: 1.615vw;
  text-transform: uppercase;
}

/* Навигация */

nav {
  position: absolute;
  margin: 1vw 62.7vw;
  width: 34.688vw;
  height: 2.4vw;
  background-color: #fff;
  font-size: 1.042vw;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3.646vw;
  z-index: 1;
}

.events,
.pets,
.shop,
.contact {
  padding-left: 1.24vw;
}

a {
  text-decoration: none;
  color: #1d4df5;
  font-family: "TT Travels Educational";
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #a5b8fb;
}

/* Стрелки */

.arrows {
  position: relative;
  display: inline-flex;
  margin: 5vw 0vw 0vw 84.375vw;
  column-gap: 1.042vw;
}

.leftarrow {
  width: 5.208vw;
  height: 5.208vw;
  background: url("../img/leftarrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  transition: all 0.5s ease-in-out;
}

.rightarrow {
  width: 5.208vw;
  height: 5.208vw;
  background: url("../img/rightarrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  transition: all 0.5s ease-in-out;
}

.leftarrow:hover {
  transform: scale(0.9);
}

.rightarrow:hover {
  transform: scale(0.9);
}

/* Контейнеры на страницах */

.containerabout {
  display: grid;
  width: 96.875vw;
  margin: 1.563vw auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.563vw;
  justify-content: center;
  align-content: center;
}

.containerindex {
  box-sizing: border-box;
  width: 96.875vw;
  height: 53.125vw;
  margin: 1.563vw auto;
  background-color: #3964fa;
  color: #fff;
  border-radius: 2.083vw;
  overflow: hidden;
  opacity: 0.2;
}

.containerpet {
  display: grid;
  width: 96.875vw;
  margin: 1.563vw auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.563vw;
  justify-content: center;
  align-content: center;
}

/* Наполнение Зоны приюта */

/* Зоны для переключения */
.zona1 {
  display: block;
}

.zona2 {
  display: none;
}

.zona3 {
  display: none;
}

.zona4 {
  display: none;
}

/* Изображение для зоны */
.priyuthome {
  position: relative;
  margin: -33.8vw 0vw 0vw 63.5vw;
  width: 27.786vw;
  height: 37.813vw;
  background: url("../img/priyuthome.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  transform: rotate(9.7deg);
}

.priyutballs {
  position: relative;
  margin: -25.8vw 0vw 0vw 53.5vw;
  width: 41.093vw;
  height: 30.484vw;
  background: url("../img/priyutballs.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* Боксы */
.aboutbox1 {
  grid-column: 1/3;
  height: 53.125vw;
  background-color: #3964fa;
  color: #fff;
  border-radius: 2.083vw;
}

.aboutbox2 {
  grid-column: 1/3;
  height: 36.458vw;
  background: url("../img/vhodplace.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #fff;
  border-radius: 2.083vw;
}

.aboutbox3 {
  display: none;
  height: 23.073vw;
  background: url("../img/priyutplace2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #fff;
  border-radius: 2.083vw;
}

.aboutbox4 {
  display: none;
  height: 23.073vw;
  background: url("../img/priyutplace3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #fff;
  border-radius: 2.083vw;
}

.aboutbox5 {
  display: none;
  grid-column: 2;
  grid-row: 3/5;
  background: url("../img/priyutplace4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #fff;
  border-radius: 2.083vw;
}

.aboutbox6 {
  grid-column: 1/3;
  height: 11.458vw;
  background-color: #000;
  /* #3964fa */
  color: #fff;
  border-radius: 2.083vw;
  opacity: 0.2;
  margin-top: 3.3vw;
}

/* Дополнительная информация через плюсы  */

.pluscontainer {
  display: none;
  position: absolute;
  width: 2.604vw;
  height: 2.604vw;
  background-color: #fff;
  border-radius: 2.083vw;
}

.plus {
  position: relative;
  width: 2.604vw;
  height: 2.604vw;
  background: url("../img/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.pluscontainer p {
  margin: -2.3vw 3vw;
  width: 18vw;
  font-size: 1vw;
  color: #1d4df5;
  overflow: hidden;
  opacity: 0;
}

.pluspriytspace1 {
  margin: 10.156vw 0vw 0vw 70.521vw;
}

.pluspriytspace2 {
  margin: 5vw 0vw 0vw 29vw;
}

.pluspriytspace3 {
  margin: 7vw 0vw 0vw 25vw;
}

.pluspriytspace4 {
  margin: 24vw 0vw 0vw 32vw;
}

.pochipet {
  width: 50vw;
  height: 50vw;
  background: url("../img/pochi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
