@font-face {
  font-family: "TT Travels Educational";
  src: url("../fonts/TT Travels Educational Regular.ttf");
  src: local("TT Travels Educational Regular"),
		local("TT Travels Educational Regular"),
		url("../fonts/TT Travels Educational Regular.ttf") format("ttf"),
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "TT Travels Educational";
  src: url("../fonts/TT Travels Educational Medium.ttf");
  src: local("TT Travels Educational Medium"),
    local("TT Travels Educational Medium"),
    url("../fonts/TT Travels Educational Medium.ttf") format("ttf"),
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "TT Norms Pro Educational Expanded";
  src: url("../fonts/TT Norms Pro Educational Expanded Regular.ttf");
  src: local("TT Norms Pro Educational Expanded Regular"),
    local("TT Norms Pro Educational Expanded Regular"),
    url("../fonts/TT Norms Pro Educational Expanded Regular.ttf") format("ttf"),
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "TT Norms Pro Educational Expanded";
  src: url("../fonts/TT Norms Pro Educational Expanded Medium.ttf");
  src: local("TT Norms Pro Educational Expanded Medium"),
    local("TT Norms Pro Educational Expanded Medium"),
    url("../fonts/TT Norms Pro Educational Expanded Medium.ttf") format("ttf"),
  font-style: normal;
  font-weight: 500;
}
